@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f1f1f1;
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}
::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

.card h1 {
  font-size: 18px;
}

.card button {
  border-radius: 5px !important;
}

.btn-border {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  color: #000 !important;
  text-transform: capitalize !important;
  padding: 7px 20px !important;
}
.btn-border:hover {
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
}
.btn-border svg {
  font-size: 18px;
  margin-right: 5px;
}

.btn-blue {
  background: #3872fa !important;
  color: #fff !important;
  text-transform: capitalize !important;
  padding: 7px 20px !important;
}
.btn-blue:hover {
  background: #346ae7 !important;
}
.btn-blue svg {
  font-size: 18px;
  color: #fff !important;
}

.btn-round {
  border-radius: 50px !important;
  padding: 7px 25px !important;
}

.btn-sm {
  padding: 4px 15px !important;
  font-size: 13px !important;
}
.btn-sm svg {
  font-size: 14px !important;
  margin-right: 5px;
}

.btn-lg {
  padding: 12px 25px !important;
  font-size: 16px !important;
  font-weight: bold !important;
}
.btn-sm svg {
  font-size: 18px !important;
  margin-right: 5px;
}

/* Main layout styles */
.main {
  @apply flex flex-1;
}

.sidebarWrapper {
  @apply h-screen;
}

.sidebar {
  @apply h-full bg-white border-r border-gray-200;
}

.sidebar .sidebarTabs ul {
  @apply w-full mb-0;
}

.sidebar .sidebarTabs ul li {
  @apply list-none w-full;
}

.sidebar .sidebarTabs button {
  @apply justify-start text-gray-700 capitalize text-sm font-semibold py-1 px-2.5 relative;
}

.sidebar .sidebarTabs button svg {
  @apply text-lg;
}

.sidebar .sidebarTabs button .arrow {
  @apply transition-all duration-300 ml-auto w-6 h-6 flex items-center justify-center;
}

.sidebar .sidebarTabs button .arrow svg {
  @apply text-xs;
}

.sidebar .sidebarTabs button:hover {
  @apply bg-gray-100;
}

.sidebar .sidebarTabs button::before {
  content: "";
  @apply absolute top-1/2 left-[-8px] w-1 h-0 bg-blue-500 rounded-r transition-all duration-300 opacity-0;
}

.sidebar .sidebarTabs button:hover::before,
.sidebar .sidebarTabs button.active::before {
  @apply top-0 h-full opacity-100;
}

.sidebar .sidebarTabs button .arrow.rotate {
  @apply rotate-90;
}

.sidebar .sidebarTabs button.active,
.sidebar .sidebarTabs button.active * {
  @apply text-blue-500;
}

.sidebar .sidebarTabs li {
  @apply relative;
}

.sidebar .sidebarTabs li .submenu {
  @apply relative top-full left-0 h-0 opacity-0 overflow-hidden transition-all duration-300;
}

.sidebar .sidebarTabs li.colapse .submenu {
  @apply h-auto opacity-100;
}

.sidebar .sidebarTabs li .submenu button::before {
  @apply hidden;
}

.sidebar .sidebarTabs li .submenu button::after {
  content: "";
  @apply absolute top-1/2 -translate-y-1/2 left-4 w-1.5 h-1.5 bg-gray-400 rounded-full;
}

.sidebar .sidebarTabs li .submenu button {
  @apply py-1 pl-9 pr-5 font-semibold text-gray-500 justify-start w-full;
}

.sidebar .sidebarTabs li .submenu button.active {
  @apply text-blue-500;
}

.sidebar .sidebarTabs li .submenu button.active::after {
  @apply bg-blue-500;
}

.sidebar .sidebarTabs li .submenuWrapper {
  @apply transition-all duration-300 h-0 overflow-hidden opacity-0;
}

.sidebar .sidebarTabs li .submenuWrapper.colapsed .submenu {
  @apply opacity-0;
}

.sidebar .sidebarTabs li .submenuWrapper.colapse {
  @apply h-auto overflow-visible opacity-100 py-2.5;
}

.sidebar .sidebarTabs li .submenuWrapper.colapse .submenu {
  @apply opacity-100 h-auto;
}

.sidebar .sidebarTabs ul {
  @apply overflow-x-hidden pb-12;
}

.dashboardBoxWrapper {
  gap: 15px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dashboardBoxWrapper .dashboardBox {
  width: 32.3%;
  height: 140px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left !important;
  position: relative;
  color: #fff;
  text-transform: capitalize !important;
}

.dashboardBoxWrapper .dashboardBox .col1 h4 {
  font-size: 16px;
  font-weight: 600;
}
.dashboardBoxWrapper .dashboardBox .col1 span {
  font-size: 35px !important;
  font-weight: bold;
  line-height: 45px;
}

.dashboardBoxWrapper .dashboardBox .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}
.dashboardBoxWrapper .dashboardBox .icon svg {
  font-size: 36px;
  opacity: 0.4;
  color: #fff;
}

.dashboardBoxWrapper .dashboardBox .toggleIcon {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.dashboardBoxWrapper .dashboardBox .chart {
  opacity: 0.05;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.dashboardBoxWrapper .dashboardBox .chart svg {
  font-size: 110px;
  color: #000;
}

.dashboardBoxWrapper .dashboardBox .bottomEle {
  position: relative;
  top: 15px;
}

.dashboardBoxWrapperRow .box {
  width: 100%;
  height: 100%;
}

.dashboardBoxWrapperRowV2 .dashboardBox {
  width: 32%;
  height: 120px !important;
}

.dashboardBoxWrapperRowV2 .dashboardBox .bottomEle {
  display: none !important;
}

.dashboardBoxWrapper .dashboardBox .MuiList-root svg {
  color: #000 !important;
  font-size: 17px !important;
  margin-right: 10px !important;
}

.dropdown_menu .MuiButtonBase-root svg {
  margin-right: 10px !important;
}

.graphBox {
  background-image: linear-gradient(#1a50b5, #2a6ff7);
  border-radius: 10px;
  padding: 25px;
}

.toggleIcon {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}
.toggleIcon svg {
  color: #fff !important;
  font-size: 20px !important;
  opacity: 1 !important;
}

.graphBox h4 {
  font-size: 16px;
  font-weight: 600;
}
.graphBox p {
  font-size: 13px;
  color: #fff;
  opacity: 0.7;
}

header {
  height: 70px;
}
.space {
  margin-top: 100px;
}

header .part2 button {
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 100% !important;
  background: #f0f5ff !important;
  color: #000;
}
header .part2 button svg {
  font-size: 18px;
  color: #292929;
}

.searchBox {
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 10px;
}
.searchBox:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.searchBox input {
  outline: none !important;
  font-size: 14px;
}

.userImage {
  overflow: hidden;
  border-radius: 100%;
}

.recharts-wrapper {
  width: 100% !important;
}

.card {
  border-radius: 10px;
}

.table th {
  font-size: 12px;
  font-weight: 800;
  color: #666666;
}
.card tr th:first-child,
.card tr td:first-child {
  padding-left: 25px;
}
table th,
table td {
  vertical-align: middle !important;
}

table td .info p {
  color: #5e5d72;
  font-size: 13px;
  line-height: 18px;
}

table td .info h6,
table td .info p {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table td .info h6 {
  font-size: 14px;
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #403e57;
}

.table td .new,
.table td .old {
  display: block;
  width: 100%;
  font-size: 12px;
}

.table td .actions button {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.table td .actions button:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.table td .actions button svg {
  opacity: 0.7;
  transition: all 0.3s;
}
.table td .actions button:hover svg {
  opacity: 1;
}

.form .col_ h4 {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}
.form .col_.lg h4 {
  font-size: 16px;
}
.form .form-group {
  margin-bottom: 20px;
}
.form .form-group .input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none !important;
  border-radius: 4px !important;
  padding: 0px 15px;
  transition: all 0.3s;
  background: transparent;
}
.form .form-group textarea.input {
  height: 120px;
  padding-top: 15px;
}
.form .form-group .input:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.form .form-group .input.lg {
  height: 50px;
}

.form .form-group button {
  position: absolute;
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  color: #464646 !important;
  border-radius: 100% !important;
  top: 5px;
  right: 10px;
  z-index: 100;
}
.form .form-group button svg {
  font-size: 20px !important;
}

.imageUploading {
  overflow: inherit !important;
}
.imageUploadingWrapperSlider .slider {
  width: 80%;
  overflow: hidden;
}
.imageUploadingWrapperSlider .slider .swiper-slide {
  padding: 25px 0px;
}

.imgUploadBoxWrapper {
  position: relative;
  width: 100px;
  height: 100px;
}
.imgUploadBoxWrapper .remove {
  border-radius: 100%;
  background: #d32f2f;
  position: absolute;
  top: -6px;
  right: -6px;
  z-index: 100;
  cursor: pointer;
}
.imgUploadBoxWrapper .remove svg {
  font-size: 14px;
  color: #fff;
}

.imgUploadBox {
  border: 1px dashed rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}
.imgUploadBox:hover {
  border: 1px dashed rgba(0, 0, 0, 0.7);
}
.imgUploadBox h4 {
  font-size: 12px;
  font-weight: bold;
}
.imgUploadBox .icon {
  font-size: 30px;
  color: #000;
  opacity: 0.2;
}
.imgUploadBox input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
}

.swiper-button-next {
  right: 3% !important;
  position: absolute;
  top: 45%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px !important;
  height: 45px !important;
  background: #fff;
  border-radius: 100%;
  font-family: FontAwesome !important;
  font-weight: bold;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}

.swiper-button-prev {
  left: 3% !important;
  position: absolute;
  top: 45%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px !important;
  height: 45px !important;
  background: #fff;
  border-radius: 100%;
  font-family: FontAwesome !important;
  font-weight: bold;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #000 !important;
  opacity: 0.8;
  font-size: 17px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #e7e7e7 !important;
}

.imageUploadingWrapperSlider .slider .swiper-button-next,
.imageUploadingWrapperSlider .slider .swiper-button-prev {
  zoom: 70%;
}

.sidepanel {
  position: relative;
}
.sidepanel .close_ {
  position: absolute;
  top: 5px;
  right: 15px;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 100% !important;
  color: #000 !important;
  z-index: 100;
  background: #f1f1f1 !important;
}
.sidepanel .close_ svg {
  font-size: 25px !important;
}

.header {
  padding: 0px 25px;
}
.header .logo {
  width: 250px;
  padding: 25px 3%;
}
.header .logo img {
  width: 100%;
}
.header button svg {
  font-size: 16px !important;
}

.signUpPage {
  padding: 35px 0px;
  width: 600px;
  margin: auto;
}
.signUpPage h1 {
  font-size: 40px;
  line-height: 50px;
  color: #000;
  font-weight: bolder !important;
}

.socialBtn button {
  color: #494949;
  font-size: 15px !important;
  text-transform: capitalize;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.socialBtn button svg {
  margin-right: 5px;
}

.socialBtn button:hover {
  border: 1px solid #3872fa !important;
  color: #3872fa !important;
}
.socialBtn button:hover * {
  color: #3872fa !important;
}

.signUpSection {
  height: auto;
}

.text {
  font-weight: 600;
}
.text a {
  font-weight: bold;
  text-decoration: none;
}

.otpBox input {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none !important;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s;
}
.otpBox input:focus {
  border: 1px solid #000 !important;
}

/* Global styles to prevent horizontal scroll */
html,
body {
  @apply overflow-x-hidden;
}

#root {
  @apply overflow-x-hidden;
}

/* Ensure all elements fit within viewport width */
* {
  @apply box-border;
}

/* Prevent horizontal scroll on all screen sizes */
.container {
  @apply max-w-full overflow-x-hidden;
}
